<?xml version="1.0"?>
<config>
    <modules>
        <EcomCore_M2ext>
            <version>0.1.0</version>
        </EcomCore_M2ext>
    </modules>
    <global>
        <models>
            <eccm2ext>
                <class>EcomCore_M2ext_Model</class>
            </eccm2ext>
        </models>
        <helpers>
            <eccm2ext>
                <class>EcomCore_M2ext_Helper</class>
            </eccm2ext>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <ecomcore_m2ext>
                        <type>singleton</type>
                        <class>eccm2ext/adminhtml_observer</class>
                        <method>onBlockHtmlBefore</method>
                    </ecomcore_m2ext>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <eav_collection_abstract_load_before>
                <observers>
                    <ecomcore_m2ext>
                        <type>singleton</type>
                        <class>eccm2ext/adminhtml_observer</class>
                        <method>onEavLoadBefore</method>
                    </ecomcore_m2ext>
                </observers>
            </eav_collection_abstract_load_before>
        </events>
    </adminhtml>
</config>